USE [master]
GO
/****** Object:  Database [SBO_DesafioXirect]    Script Date: 10/09/2018 14:05:56 ******/
CREATE DATABASE [SBO_DesafioXirect]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SBO_DesafioXirect', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SBO_DesafioXirect.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SBO_DesafioXirect_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SBO_DesafioXirect_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SBO_DesafioXirect].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SBO_DesafioXirect]
GO
/****** Object:  Table [dbo].[SYS_Log]    Script Date: 10/09/2018 14:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SYS_Log](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[Mensaje] [varchar](50) NULL,
 CONSTRAINT [PK_SYS_Log] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[usp_LOGInsertarLog]    Script Date: 10/09/2018 14:05:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_LOGInsertarLog]
@prmstrMensaje varchar(50)
as
BEGIN
INSERT INTO [dbo].[SYS_Log](Mensaje)
VALUES (@prmstrMensaje)
END

GO
USE [master]
GO
